// $primary-color: #2985d8;
$primary-color: #855133;
// $primary-color: #d47d6b;
// $primary-color: #a0144f;
// $primary-color: green;
$gray-color: #716f6f;
$light-gray-color: #cacaca;
$dark-color: #434343;
$light-color: #f5f5f5;
$white-color: #ffffff;
$dark-shade-1: #0d1c26;
$dark-shade-2: #10222d;
